$mobile-bp: 50em;

.agenda-entries,
.tracker-entries {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .875em;
  line-height: 1.3;
}

.tracker-entries {
  border-top: 1px solid $border-gray;
}

.entry {
  @include clearfix;
  border-top: 1px solid $border-gray;
  padding: .625em .3125em;

  &:first-child {
    border-top: 0;
  }

  &:nth-child(even) {
    background-color: $footer-separator-white;
  }
}

.date {
  @include span(5 of 12);

  @include susy-media($mobile-bp) {
    @include span(6 of 12);
  }

  li {
    color: lighten($bodytext-black, 30%);

    @include susy-media($mobile-bp) {
      @include gallery(2 of 6);
      text-align: center;
    }

    &:first-child {
      color: $bodytext-black;
      font-weight: 800;
    }
  }
}

.info {
  li {
    @include span(6 of 12 last);
  }
}
