{% extends "templates/_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}

<article class="story">
  <header class="header">
    <h1>{{ META.project_title }}</h1>
    <p class="credit">By <a href="http://www.texastribune.org/about/staff/patrick-svitek/">Patrick Svitek</a>, <a href="http://www.texastribune.org/about/staff/abby-livingston/">Abby Livingston</a> and <a href="http://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a></p>
    <ul class="share-cells">
      <li><a href="https://twitter.com/intent/tweet?text={{ META.project_title|urlencode }}&url=http://{{ SITE.s3_bucket }}/{{ SITE.slug }}/&via=texastribune&related=rdmurphy,PatrickSvitek,TexasTribAbby"><span class="icon icon-twitter"></span>Tweet</a></li>
      <li><a href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http://{{ SITE.s3_bucket }}/{{ SITE.slug }}/&redirect_uri=http://{{ SITE.s3_bucket }}/{{ SITE.slug }}/"><span class="icon icon-facebook"></span>Recommend</a></li>
    </ul>
  </header>

  <div class="intro">
    <figure class="lead-art">
      <img src="assets/images/tedtracker-leadart-small.jpg" alt="TedTracker">
      <figcaption>Photo by Michael Stravato, illustration by Emily Albracht</figcaption>
    </figure>
    <div class="prose">
    {{ META.project_intro }}
    </div>
    <ul class="links">
      <li><a href="http://www.texastribune.org/tedpedia/">Tedpedia</a></li>
      <li><a href="http://www.texastribune.org/directory/ted-cruz/">View in Directory</a></li>
      <li><a href="http://www.texastribune.org/bidness/explore/ted-cruz/"><span class="ethics-cut">View in</span> Ethics Explorer</a></li>
      <li><a href="https://twitter.com/tedwire">TedWire</a></li>
    </ul>
  </div>

  <section class="section agenda">
    <header class="section-header">
      <h2>Future Appearances</h2>
    </header>
    <div id="agenda-entries" class="agenda-entries"></div>
  </section>

  <section class="section tracker">
    <header class="section-header">
      <h2>Past Appearances</h2>
    </header>
    <div id="map" class="map"></div>
    <div id="tracker-entries" class="tracker-entries"></div>
  </section>
</article>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
