{% extends "templates/_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}

<article class="story">
  <header class="header">
    <h1>{{ META.project_title }}</h1>
    <p class="credit"><a href="http://www.texastribune.org/about/staff/patrick-svitek/">Patrick Svitek</a>, <a href="http://www.texastribune.org/about/staff/abby-livingston/">Abby Livingston</a> and <a href="http://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a> | April 8, 2015</p>
  </header>

  <div class="intro">
      <div class="lead-art">
        <img src="assets/images/cruz.jpg" alt="Ted Cruz">
      </div>
      <div class="prose">
      {{ META.project_intro }}
    </div>
  </div>

  <section class="section agenda">
    <header class="section-header">
      <h2>On the Agenda</h2>
    </header>
    <div class="agenda-entries" id="agenda-entries"></div>
  </section>

  <section class="section tracker">
    <header class="section-header">
      <h2>Tracker</h2>
    </header>
    <div id="map" class="map"></div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Venue</th>
          <th>Location</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="tbody"></tbody>
    </table>
  </section>
</article>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
