<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ META.project_short_title }} | The Texas Tribune</title>
  {% block styles %}
  <link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css">
  <link rel="stylesheet" href="styles/main.css">
  {% endblock %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@texastribune">
  <meta name="twitter:creator" content="@rdmurphy">
  <meta property="og:url" content="http://{{ SITE.s3_bucket }}/{{ SITE.slug }}/">
  <meta property="og:title" content="{{ META.project_title }}">
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ META.project_intro_clean }}">
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:image" content="http://{{ SITE.s3_bucket }}/{{ SITE.slug }}/assets/images/tedtracker-leadart.jpg">
  <meta property="fb:app_id" content="154122474650943">
  <script src="scripts/bundle.js" async defer></script>
</head>
<body>

<header class="masthead">
  <h2 class="header-logo">
    <a href="http://www.texastribune.org">
      <img class="logo" src="assets/images/trib-logo-white-500x55.png" alt="The Texas Tribune">
    </a>
  </h2>
  <button id="menu-button" class="menu-button">Menu</button>
</header>

<nav id="menu-nav" class="menu-nav">
  <ul>
    <li><a href="http://www.texastribune.org/">Front Page</a></li>
    <li><a href="http://www.texastribune.org/2016/">2016 Coverage</a></li>
    <li><a href="http://www.texastribune.org/directory/">Directory</a></li>
    <li><a href="http://www.texastribune.org/events/">Events</a></li>
    <li><a href="http://www.texastribune.org/subscribe/">Newsletters</a></li>
  </ul>
</nav>

{% include 'templates/includes/_ad_atf.html' %}

<main class="container" role="main">
  {% block content %}{% endblock %}
</main>

{% include 'templates/includes/_ad_btf.html' %}

<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li class="copywrite">&copy; 2015 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
      </ul>
    </nav>
    <nav class="last-nav">
      <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li class="donate"><a href="https://www.texastribune.org/join/">Donate</a></li>
      </ul>
    </nav>
  </div>
</footer>

{% block script %}

{% endblock %}
</body>
</html>
